<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\antko\Documents\Visual Studio 2015\Projects\ShopService\ShopService\App_Data\shopdb.accdb" />
  </appSettings>
</configuration>